<div class="head">
    <div class="row">
        <input type="text" [(ngModel)]="keyword" name="keyword" />
        <button (click)="Search()">Search</button>
    </div>
</div>
<div class="table" *ngFor="let product of products">
    <div class="row"><a [routerLink]="['/product-detail',product.id]"><img src="{{product.picture}}" width="50" height="50"></a></div>
    <div class="row"><a [routerLink]="['/product-detail',product.id]">{{product.name}}</a></div>
    <div class="row">{{product.price}}</div>
    <div class="row">
    <button class="btn btn-danger">Add to cart</button>
    </div>
</div>
